@charset "UTF-8";
/* CSS Document */


/*--------------------------------- Global variables --------------------------------*/
:root{
	/* Colors */
	--black: #000000;
  --white: #ffffff;
  --purple: #680BA6;
  --placeholder_grey: #4B4B4B;
  --spotify_green: #1DB954;
}
/*------------------------------- Global variables END ------------------------------*/


/*-------------------------------------- Fonts --------------------------------------*/
 @font-face{
  font-family: dosis_regular;
  src: url("/src/fonts/Dosis/static/Dosis-Regular.ttf");
} */
/*------------------------------------ Fonts END ------------------------------------*/


/*-------------------------------- Set default stuff --------------------------------*/
html{
	overflow-y: scroll;
  overflow-x: hidden;
  -moz-scrollbars: vertical;
}

*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
  max-width: 100%;
  min-height: 100vh;
  padding-bottom: 30px;
  background-color: var(--black); 
  color: var(--white);
  font-family: dosis_regular;
}

#wrapper{
	max-width: 1900px;
	margin: 0 auto;
}

main{
  padding: 0 20px;
}

h1, h2, h3{
  font-weight: normal;
}

h1{
  font-size: 2.5em;
}

h2{
  font-size: 1.5em;
}

a{
  cursor: pointer;
  text-decoration: none;
  color: var(--white);
}

a:visited{
  color: var(--white);
}

p{
  padding-bottom: .5em;
}

button{
  cursor: pointer;
  border: none;
  font-family: dosis_regular;
}

button:focus, input:focus{
  outline: none;
}

img, video{
  width: 100%;
  text-align: center;
}

::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
  color: var(--placeholder_grey);
  font-family: dosis_regular;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
  color: var(--placeholder_grey);
  font-family: dosis_regular;
}

::-ms-input-placeholder { /* Microsoft Edge */
  color: var(--placeholder_grey);
  font-family: dosis_regular;
}

/* Firefox */
* {
  scrollbar-width: auto;
  scrollbar-color: var(--purple) #ffffff;
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
  width: 16px;
}

*::-webkit-scrollbar-track {
  background: #ffffff;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--purple);
  border-radius: 10px;
  border: 0px none var(--purple);
}
/*------------------------------ Set default stuff END ------------------------------*/

/*----------------------------------- Common classes --------------------------------*/
.absolute_element_centered{
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  /*Add an element height on the specific element*/
}

.flexRow{
	display: flex;
	flex-direction: row;
}

.flexColumn{
	display: flex;
	flex-direction: column;
}

.posAbsolute{
  position: absolute;
}

.posRelative{
  position: relative;
}

.posFixed{
  position: fixed;
}

.posSticky{
  position: sticky;
  position: -webkit-sticky; /* Safari */
}
/*--------------------------------- Common classes END ------------------------------*/