@charset "UTF-8";
/* CSS Document */

.logo_container{
    width: 30%;
    max-width: 1000px;
    margin: 0 auto;
    margin-top: 30px;
}

#acc_form{
  background-image: linear-gradient(var(--purple), var(--white));
  width: 400px;
  margin: 0 auto;
  margin-top: 50px;
  border-radius: 15px;
  padding: 5px 2px 2px;
}

#title{
    text-align: center;
    
}

.formContent{
    background-color: var(--black);
    border-radius: 15px;
    margin-top: 10px;
    padding: 5px 3px;
}

.acc_label{
  display: block;
  margin: 5px 20px 10px;
  text-align: left;
  font-size: 1.1em;
}

.acc_input_container{
  margin: 20px;
  text-align: center;
}

.acc_input{
    
    width: 90%;
    border-radius: 15px;
    height: 35px;
    padding: 10px;
    color: grey;
    font-size: 1em;
    
}

#acc_button_container{
    text-align: center;
    margin-top: 50px;
    
}

#acc_button{
    color: var(--white);
    background-color: var(--purple);
    border: 2px solid white;
    width: 120px;
    border-radius: 15px; 
    font-size: 1.1em;
    padding: 8px 10px;
}

#createLink_container{
    margin-top: 50px;
    text-align: right;
    padding: 15px;
}

#createLink_link{
    text-decoration: underline;
}

.error_container{
    width: 100%;
    margin: 10px auto;
    padding: 0 20px;
    color: red;
    text-align: left;
}


#error_message{
    width: 90%;
}