@charset "UTF-8";
/* CSS Document */

main{
  width: 95%;
  order: 1;
}

.h2_icon{
  margin-left: 5px;
  font-size: .8em;
}

#createQuiz_form{
  margin: 20px auto;
  padding: 20px 0;
}

.formSection{
  justify-content: space-between;
  align-items: center;
}

.formDivider{
  width: 49%;
}

#quizTitle_input{
  height: 50px;
  text-align: center;
  font-size: 1.5em;
  border: 2px solid var(--purple);
  border-radius: 25px;
  width: 90%;
}

#numOfQuestion_container{
  text-align: center;
}

#num_container{
  margin-top: 20px;
  justify-content: space-around;
  text-align: center;
  align-content: center;
}

.num{
  width: 30%;
  max-width: 100px;
}

.num:hover{
  cursor: pointer;
}