@charset "UTF-8";
/* CSS Document */

.searchItem{
  justify-content: space-between;
  align-items: center;
  padding-right: 10px;
}

.searchItem:hover{
  cursor: pointer;
}

.music_info_container{
  align-items: center;
}

.play_btn{
  background-color: var(--black);
  color: var(--spotify_green);
  font-size: 2.8em;
}

.play_btn:hover{
  color: #19a54a;
}