@charset "UTF-8";
/* CSS Document */


.questionForm{
  width: 49%;
  margin-bottom: 20px;
}

.formTitle{
  margin-left: 10%;
  margin-bottom: 20px;
  font-size: 1.8em;
}

/*------------------------------ Q & A section ------------------------------*/
.create_question_input_container{
  text-align: center;
}

.create_question_input{
  height: 50px;
  width: 90%;
  margin-bottom: 20px;
  border: 2px solid var(--purple);
  border-radius: 25px;
  text-align: center;
  font-size: 1.5em;
}

.options_container{
  flex-wrap: wrap;
  justify-content: space-between;
}

.option_container{
  width: 49%;
  text-align: center;
}

.opTitle{
  margin-bottom: 20px;
  font-size: 1.5em;
}

.option_input{
  margin-bottom: 20px;
  padding: 3px 5px;
  border: 2px solid var(--purple);
  border-radius: 15px;
  height: 80px;
  width: 70%;
  font-size: 1.3em;
}
/*-------------------------------- Q & A END --------------------------------*/


/*-------------------------- Select music section ---------------------------*/
.musicSearch_container{
  margin-bottom: 30px;
}

.musicSearch_title_container{
  margin-top: 10px;
  justify-content: center;
}

.musicSearch_title_img_container{
  margin-left: 10px;
  width: 4%;
  min-width: 25px;
}

/*----------------------- Search field ------------------------*/
.musicSearch_input_container{
  justify-content: center;
  margin-bottom: 20px;
}

.musicSearch_input{
  width: 80%;
  height: 40px;
  padding: 3px 10px;
  border: 2px solid var(--spotify_green);
  border-right: none;
  border-radius: 90px 0 0 90px;
  font-size: 1.2em;
}

.musicSearch_btn{
  width: 10%;
  border: 2px solid var(--spotify_green);
  border-left: none;
  border-radius: 0 90px 90px 0;
  font-size: 1.2em;
  background: var(--white);
}
/*--------------------- Search field END ----------------------*/


/*------------------- Search result section --------------------*/
.musicSearcResult_container{
  display: none;
  left: 5%;
  width: 90%;
  padding: 10px;
  background-color: var(--black);
  border: 2px solid var(--spotify_green);
}

.musicSearcResult_title{
  margin-bottom: 8px;
  font-size: 1.2em;
}
/*----------------- Search result section END ------------------*/


/*-------------------- Chosen music section --------------------*/
.chosenMusic_container, .noChosenMusic_container{
  height: 94px;
  width: 90%;
  margin: 0 auto;
  padding: 10px;
  background-color: var(--black);
}

.noChosenMusic_container{
  border: 2px solid var(--placeholder_grey);
  color: var(--placeholder_grey);
  font-size: 1.3em;
}

.chosenMusic_container{
  align-items: center;
  border: 2px solid var(--spotify_green);
  color: var(--white);
  font-size: 1.2em;
}

.chosenMusic_img_container{
  width: 70px;
  margin-right: 10px;
}

.remove_chosenMusic_container{
  top: 5px;
  right: 10px;
  font-size: 1.3em;
  color: var(--placeholder_grey);
  background-color: transparent;
}

.remove_chosenMusic_container:hover{
  cursor: pointer;
}
/*------------------ Chosen music section END ------------------*/
/*------------------------ Select music section END -------------------------*/
