@charset "UTF-8";
/* CSS Document */


.questionForm{
  width: 49%;
  margin-bottom: 20px;
}

.formTitle{
  margin-left: 10%;
  margin-bottom: 20px;
  font-size: 1.8em;
}

/*------------------------------ Q & A section ------------------------------*/
.create_question_input_container{
  text-align: center;
}

.create_question_input{
  height: 50px;
  width: 88%;
  margin-bottom: 20px;
  border: 2px solid var(--purple);
  border-radius: 25px;
  text-align: center;
  font-size: 1.3em;
}

.options_container{
  flex-wrap: wrap;
  justify-content: space-between;
}

.option_container{
  width: 49%;
  text-align: center;
}

.opTitle{
  margin-bottom: 20px;
  font-size: 1.5em;
}

.option_input{
  margin-bottom: 20px;
  padding: 3px 5px;
  border: 2px solid var(--purple);
  border-radius: 15px;
  height: 80px;
  width: 70%;
  font-size: 1.3em;
}
/*-------------------------------- Q & A END --------------------------------*/


/*-------------------------- Select music section ---------------------------*/
.musicSearch_container{
  margin-bottom: 30px;
}

.musicSearch_title_container{
  margin-top: 10px;
  justify-content: center;
}

.musicSearch_title_img_container{
  margin-left: 10px;
  width: 4%;
  min-width: 25px;
}

/*----------------------- Search field ------------------------*/
.musicSearch_container{
  width: 94%;
  margin: 0 auto;
}

.musicSearch_input_container{
  justify-content: space-between;
}

.musicSearch_input{
  width: 49%;
  margin-bottom: 20px;
  height: 40px;
  padding: 5px 8px;
  border: 2px solid var(--spotify_green);
  border-radius: 15px;
  font-size: 1.1em;
}

.musicSearch_btn_container{
  width: 100%;
  margin-bottom: 20px;
}

.musicSearch_btn{
  width: 100%;
  height: 30px;
  background-color: var(--spotify_green);
  color: var(--white);
  font-size: 1.2em;
}

.musicSearch_btn:hover{
  background-color: #19a54a;
}
/*--------------------- Search field END ----------------------*/


/*------------------- Search result section --------------------*/
.musicSearchResult_container{
  display: none;
  left: 3%;
  max-height: 300px;
  overflow-y: scroll;
  width: 94%;
  padding: 10px;
  background-color: var(--black);
  border: 2px solid var(--spotify_green);
}

.musicSearchResult_title{
  margin-bottom: 8px;
  font-size: 1.2em;
}

/* Firefox */
.musicSearchResult_container {
  scrollbar-width: auto;
  scrollbar-color: var(--spotify_green) #313131;
}

/* Chrome, Edge, and Safari */
.musicSearchResult_container::-webkit-scrollbar {
  width: 16px;
}

.musicSearchResult_container::-webkit-scrollbar-track {
  background: #313131;
}

.musicSearchResult_container::-webkit-scrollbar-thumb {
  background-color: var(--spotify_green);
  border-radius: 10px;
  border: 0px none var(--spotify_green);
}
/*----------------- Search result section END ------------------*/


/*-------------------- Chosen music section --------------------*/
.chosenMusic_container, .noChosenMusic_container{
  height: 94px;
  width: 94%;
  margin: 0 auto;
  margin-bottom: 30px;
  padding: 10px;
  background-color: var(--black);
}

.noChosenMusic_container{
  border: 2px solid var(--placeholder_grey);
  color: var(--placeholder_grey);
  font-size: 1.3em;
}

.chosenMusic_container{
  align-items: center;
  border: 2px solid var(--spotify_green);
  color: var(--white);
  font-size: 1.2em;
}

.chosenMusic_img_container{
  width: 70px;
  margin-right: 10px;
}

.remove_chosenMusic_container{
  top: 5px;
  right: 10px;
  font-size: 1.3em;
  color: var(--placeholder_grey);
  background-color: transparent;
}

.remove_chosenMusic_container:hover{
  cursor: pointer;
}
/*------------------ Chosen music section END ------------------*/
/*------------------------ Select music section END -------------------------*/
